body {
    padding-top: 60px;
    /*background: url("../img/bg_fundo.png");*/
    padding: 2px;
    overflow-x: hidden;
}

/*.bg {*/
/*background: rgba(0, 0, 0, 0) url("../img/bg_fundo.png") repeat scroll 0 0;*/
/*}*/

.center {
    text-align: center !important;
}

.vertical-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.vertical-left {
    text-align: left !important;
    vertical-align: middle !important;
}

.vertical-right {
    text-align: right !important;
    vertical-align: middle !important;
}

.left {
    text-align: left !important;
}

.right {
    text-align: right !important;
}

.strong {
    font-weight: bold !important;
}

.hide {
    visibility: hidden !important;
}

.show {
    visibility: visible !important;
}

.steelBlue {
    color: #4682B4 !important;
}

.teal {
    color: #008B8B !important;
}

.darkRed {
    color: #8B0000 !important;
}

.red {
    color: #FF0000 !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin-heading {
    margin: 0 0 15px;
    font-size: 18px;
    font-weight: 400;
    color: #555;
}

.form-signin .checkbox {
    margin-bottom: 10px;
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
}

.card {
    width: 304px;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    background-color: #f7f7f7;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

.card-signin {
    width: 354px;
    padding: 40px;
}

.card-signin .profile-img {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
}

.texto11 {
    font-size: 11px !important;
    text-align: justify !important;
    text-justify: inter-word !important;
    font-family: "Times New Roman" !important;
}

.texto10 {
    font-size: 10px !important;
    text-align: justify !important;
    text-justify: inter-word !important;
    font-family: "Times New Roman" !important;
    font-style: italic !important;
}

@page {
    size: A4 portrait;
    margin-left: 1px !important;
    margin-right: 1px !important;
    @top-center {
        content: url("../img/cmr_novo_cabecalho_relatorio3.png");
    }
    @bottom-center {
        background: url("../img/rodape_aviso_novo.png") 68px 680px;
        width: 680px !important;
        height: 60px !important;
        content: 'Página ' counter(page) " de " counter(pages);
        text-align: right !important;
        font-style: italic !important;
        font-weight: bold !important;
        font-size: 10px !important;
    }
}

.fonte {
    font-family: "Times New Roman" !important;
}

.proximaPagina {
    page-break-before: always
}

.modal-aviso {
    width: 98% !important;
}

.modal-aviso-formulario {
    width: 80% !important;
}

.table-condensed-pdf > thead > tr > th,
.table-condensed-pdf > tbody > tr > th,
.table-condensed-pdf > tfoot > tr > th,
.table-condensed-pdf > thead > tr > td,
.table-condensed-pdf > tbody > tr > td,
.table-condensed-pdf > tfoot > tr > td {
    padding: 1px !important;
}

#theTable td * {
    page-break-inside: avoid;
}
