<div style="padding: 10px !important;">

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;">
                <tr>
                    <td>
                        <hr style="border-color: #FF8C00; max-width: 98% !important;"/>
                    </td>
                    <td width="50px">
                        <img src="{{ url_for('static', filename='img/funai_logo.gif') }}" width="35px" height="50px"
                             border="0">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table cellpadding="0" cellspacing="0" border="2" style="width: 100% !important;">
                <tr>
                    <td style="padding: 3px; background-color: #C0C0C0;">
                        <span class="strong" style="color: #FF0000">{modificado_pelo_sistema}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px;">
                        {{ template_aviso['aviso_de_entrega_diario_ref'] }} <span class="strong" style="color: #FF0000">{modificado_pelo_sistema}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px;">
                        {{ template_aviso['orbita_em_analise'] }} <span
                            style="color: #FF0000">{modificado_pelo_sistema}</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 3px;">
                        {{ template_aviso['dado_disponibilizado_no_banco_de_dados'] }} <span style="color: #FF0000">{modificado_pelo_sistema}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span class="strong"
                  style="font-size: 18px !important; text-decoration: underline">{{ template_aviso['aviso_de_entrega_diario_landsat_8'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="strong">{{ template_aviso['1_resultado_sumario_estatistico_diario_landsat_8'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
            <span class="strong">&bull; {{ template_aviso['1_terra_indigena_na_aml'] }}</span> <span
                style="color: #FF0000">{modificado_pelo_sistema}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['1_tabela_1_distribuicao_do_dado_diario_por_terra_indigena'] }}</span>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                   class="table table-bordered">
                <tr>
                    <th rowspan="2" class="vertical-center strong">Código Funai</th>
                    <th rowspan="2" class="vertical-center strong">Nome da Terra Indígena</th>
                    <th rowspan="2" class="vertical-center strong">Data da Imagem</th>
                    <th colspan="5" class="vertical-center strong">Alteração Detectada (ha)</th>
                </tr>
                <tr>
                    <td class="vertical-centers strong">CR</td>
                    <td class="vertical-center strong">DG</td>
                    <td class="vertical-center strong">DR</td>
                    <td class="vertical-center strong">FF</td>
                    <td class="vertical-center strong">Total</td>
                </tr>
                {% for number in range(5) %}
                    <tr>
                        <td class="red center">----</td>
                        <td class="red left">----</td>
                        <td class="red center">----</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="vertical-center strong">Total</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                </tr>
            </table>

            <div class="left">
                <span>{{ template_aviso['1_tabela_1_observacao_terra_indigena'] }}</span>
            </div>

        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
            <span class="strong">&bull; {{ template_aviso['1_coordenacao_regional'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['1_tabela_2_dado_diario_da_alteracao_detectada_por_coordenacao_regional_da_funai'] }}</span>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                   class="table table-bordered">
                <tr>
                    <th rowspan="2" class="vertical-center strong">Nome da CR</th>
                    <th rowspan="2" class="vertical-center strong">Data da Imagem</th>
                    <th colspan="5" class="vertical-center strong">Alteração Detectada (ha)</th>
                </tr>
                <tr>
                    <td class="vertical-centers strong">CR</td>
                    <td class="vertical-center strong">DG</td>
                    <td class="vertical-center strong">DR</td>
                    <td class="vertical-center strong">FF</td>
                    <td class="vertical-center strong">Total</td>
                </tr>
                {% for number in range(5) %}
                    <tr>
                        <td class="red left">----</td>
                        <td class="red center">----</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="vertical-center strong">Total</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                </tr>
            </table>

            <div class="left">
                <span>{{ template_aviso['1_tabela_2_observacao_coordenacao_regional'] }}</span>
            </div>

        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
            <span class="strong">&bull; {{ template_aviso['1_estado'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['1_tabela_3_dado_diario_da_alteracao_detectada_por_estado'] }}</span>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                   class="table table-bordered">
                <tr>
                    <th rowspan="2" class="vertical-center strong">Estado</th>
                    <th rowspan="2" class="vertical-center strong">UF</th>
                    <th rowspan="2" class="vertical-center strong">Data da Imagem</th>
                    <th colspan="5" class="vertical-center strong">Alteração Detectada (ha)</th>
                </tr>
                <tr>
                    <td class="vertical-centers strong">CR</td>
                    <td class="vertical-center strong">DG</td>
                    <td class="vertical-center strong">DR</td>
                    <td class="vertical-center strong">FF</td>
                    <td class="vertical-center strong">Total</td>
                </tr>
                {% for number in range(5) %}
                    <tr>
                        <td class="red center">----</td>
                        <td class="red left">----</td>
                        <td class="red center">----</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                        <td class="red right">-</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" class="vertical-center strong">Total</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                    <td class="strong red right">0,00</td>
                </tr>
            </table>

            <div class="left">
                <span>{{ template_aviso['1_tabela_3_observacao_estado'] }}</span>
            </div>

        </div>
    </div>

    <!-- inicio 2 pagina -->

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span class="strong"
                  style="font-size: 18px !important; text-decoration: underline">{{ template_aviso['informacoes_adicionais'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="strong">{{ template_aviso['2_objetivo'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span>{{ template_aviso['2_objetivo_descricao'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['2_objetivo_tabela_4'] }}</span>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                   class="table table-bordered">
                <thead>
                <tr style="background-color: #eeeeee !important;">
                    <th>Classe</th>
                    <th class="center">Sigla</th>
                    <th>Definição</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="left">{{ template_aviso['2_objetivo_classe_corte_raso'] }}</td>
                    <td class="center">{{ template_aviso['2_objetivo_classe_corte_raso_sigla'] }}</td>
                    <td class="left">{{ template_aviso['2_objetivo_classe_corte_raso_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="left">{{ template_aviso['2_objetivo_classe_degradacao'] }}</td>
                    <td class="center">{{ template_aviso['2_objetivo_classe_degradacao_sigla'] }}</td>
                    <td class="left">{{ template_aviso['2_objetivo_classe_degradacao_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="left">{{ template_aviso['2_objetivo_classe_fogo_em_floresta'] }}</td>
                    <td class="center">{{ template_aviso['2_objetivo_classe_fogo_em_floresta_sigla'] }}</td>
                    <td class="left">{{ template_aviso['2_objetivo_classe_fogo_em_floresta_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="left">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao'] }}</td>
                    <td class="center">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao_sigla'] }}</td>
                    <td class="left">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao_descricao']|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="strong">{{ template_aviso['3_base_cartografica'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span>{{ template_aviso['3_base_cartografica_descricao'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['3_base_cartografica_tabela_5'] }}</span>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                   class="table table-bordered">
                <thead>
                <tr style="background-color: #eeeeee !important;">
                    <th>Dado cartográfico</th>
                    <th>Descrição</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_terras_indigenas'] }}</td>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_terras_indigenas_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_amazonia_legal_brasileira'] }}</td>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_amazonia_legal_brasileira_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_unidades_federativas_do_brasil'] }}</td>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_unidades_federativas_do_brasil_descricao']|safe }}</td>
                </tr>
                <tr>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_grade_landsat'] }}</td>
                    <td class="vertical-left">{{ template_aviso['3_base_cartografica_grade_landsat_descricao']|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="strong">{{ template_aviso['4_grade_landsat_8'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <img src="{{ url_for('static', filename='img/orb_pnt.png') }}" border="0">
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="strong">{{ template_aviso['5_disponibilizacao_dos_dados'] }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span>{{ template_aviso['5_disponibilizacao_dos_dados_descricao']|safe }}</span>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span>{{ template_aviso['5_disponibilizacao_dos_dados_tabela_6'] }}</span><br/>
            <img src="{{ url_for('static', filename='img/estrutura_tabela_monitoramento.png') }}" border="0">
            <div class="left">
                <span>{{ template_aviso['5_disponibilizacao_dos_dados_tabela_6_descricao'] }}</span>
            </div>
        </div>
    </div>

    <div class="row" style="padding: 8px !important;">
        <div class="col-xs-12 col-sm-12 col-md-12 center">
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;">
                <tr>
                    <th colspan="2">
                        <hr style="border-color: #FF8C00; max-width: 100% !important;"/>
                    </th>
                </tr>
                <tr>
                    <td class="center" width="150px">
                        <img src="{{ url_for('static', filename='img/logo_hex_fundobranco.jpg') }}" border="0">
                    </td>
                    <td class="vertical-left">
                        <span class="strong"
                              style="font-style:italic;">{{ template_aviso['nome_do_projeto'] }}</span><br/>
                        <span style="font-style:italic;">{{ template_aviso['rodape_descricao'] }} <span
                                style="color: #FF0000">{modificado_pelo_sistema}</span></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div><!-- /end div principal -->
