{% extends 'base.html' %} {% block content %}

<div class="page-header">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h2 class="text-info">
                [CMR Landsat] - Alerta Urgente
            </h2>
        </div>
        {% if session.usuario['st_analista'] %}
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h1>
                <button title="Copiar(Polígono) do Seu Monitoramento para Seu Alerta" type="button" class="btn btn-warning btn-lg" data-backdrop="static"
                    data-keyboard="false" data-toggle="modal" data-target="#modalFormularioCopiar" onClick="limparImputs();">
                    Copiar(Polígono) do Seu Monitoramento para Seu Alerta
                </button>
                <button title="Gerar Alerta Urgente Consolidado" type="button" class="btn btn-success btn-lg" onClick="gerarAlertaUrgenteConsolidado()">
                    Gerar Alerta Urgente Consolidado
                </button>
            </h1>
        </div>
        {% endif %}
    </div>
</div>

<div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">

                <div class="panel-body">

                    <table class="table table-bordered table-striped table-hover table-condensed table-alerta-urgente-gerado" id="tabela_alerta_urgente_gerado">

                        <thead>
                            <tr>
                                <th class="vertical-center">
                                    Referência
                                </th>
                                <th class="vertical-center">
                                    Qtd. Polígono(s)
                                </th>
                                <th class="vertical-center">
                                    Ciclo
                                </th>
                                <th class="vertical-center">
                                    Terra Indígena
                                </th>
                                <th class="vertical-center">
                                    Coordenação Regional
                                </th>
                                <th class="vertical-center">
                                    Município/UF
                                </th>
                                <th class="vertical-center">
                                    Classe
                                </th>
                                <th class="vertical-center">
                                    Dt. do Envio
                                </th>
                                <th class="vertical-center">
                                    Responsável
                                </th>
                            </tr>
                        </thead>

                        <tbody>

                            {% if data|length > 0 %} {% for rs in data %}

                            <tr>
                                <td style="width: 6% !important;" class="vertical-center">
                                    {{ rs.nu_referencia }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.nu_total_poligonos }}
                                </td>
                                <td style="width: 10% !important;" class="vertical-center">
                                    {{ rs.no_ciclo }}
                                </td>
                                <td class="vertical-left">
                                    {{ rs.no_ti }}
                                </td>
                                <td class="vertical-left">
                                    {{ rs.ds_cr }}
                                </td>
                                <td class="vertical-left">
                                    {{ rs.no_municipio }}
                                </td>
                                <td class="vertical-left">
                                    {{ rs.no_estagio }}
                                </td>
                                <td style="width: 8% !important;" class="vertical-center">
                                    {{ rs.dt_envio }}
                                </td>
                                <td style="width: 8% !important;" class="vertical-left">
                                    {{ rs.no_usuario }}
                                </td>
                            </tr>

                            {% else %}

                            <tr>
                                <td colspan="8" class="center strong" style="padding: 10px; color: #A52A2A">
                                    Nenhum registro encontrado!
                                </td>
                            </tr>

                            {% endfor %} {% endif %}

                        </tbody>

                    </table>

                </div>
                <!-- /end panel-body -->

            </div>
            <!-- /end panel panel-primary -->

        </div>
        <!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div>
    <!-- /end class="row" -->
</div>

{% if session.usuario['st_analista'] %}

<!-- Modal -->
<div class="modal fade" id="modalVisualizarAviso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-aviso" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fechar">
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalFormularioCopiar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <form name="frmCopiarPoligono" id="frmCopiarPoligono" action="javascript:;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Copiar(Polígono) do Seu Monitoramento para Seu Alerta</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="no_tabela" id="no_tabela" value="{{ usuario.no_tabela }}" />
                    <input type="hidden" name="no_tabela_alerta" id="no_tabela_alerta" value="{{ usuario.no_tabela_alerta }}" />

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="monitoramento">Da Monitoramento</label>
                                <input type="text" class="form-control" value="{{ usuario.no_tabela|replace('monitoramento.','') }}" readonly/>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="alerta">Para Alerta</label>
                                <input type="text" class="form-control" value="{{ usuario.no_tabela_alerta|replace('monitoramento.','') }}" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="monitoramento_id">ID - (Use virgula(,) para separar se for mais de 1)</label>
                                <input type="text" class="form-control" required name="monitoramento_id" id="monitoramento_id" placeholder="ID" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" onClick="limparImputs()">Cancelar</button>
                    <input type="submit" class="btn btn-success" value="Copiar" title="Copiar" />
                </div>
            </div>
        </div>
    </form>
</div>

{% endif %} {% endblock %} {% block javascript_pagina %}
<script src="{{ url_for('static', filename='js/alerta_urgente.js') }}"></script>
{% endblock %}
