{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-warning">
                    [CMR Landsat] - Auditoria Buffer
                </h2>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">
                {% if session.usuario['st_administrador'] or session.usuario['st_analista'] %}

                    <div class="panel-heading">
                        <form class="form-inline" id="frmEntregaBuffer" name="frmEntregaBuffer" method="post"
                              action="javascript:;" enctype="multipart/form-data" autocomplete="off">

                            <div class="form-group">
                                <label class="sr-only" for="filezip">Arquivo ZIP</label>
                                <input type="file" id="filezip" name="filezip" placeholder="Arquivo ZIP" required>
                            </div>
                            <button type="submit" class="btn btn-default btn-sm">Novo Pacote</button>

                        </form>
                    </div><!-- /end panel-heading -->
                {% endif %}

                <div class="panel-body">

                    <table class="table table-bordered table-striped table-hover table-condensed"
                           id="tabela_entrega_buffer_ate2015">

                        <thead>
                        <tr>
                            <th class="vertical-center">Número da Entrega</th>
                            <th class="vertical-center">Data da Entrega</th>
                            <th class="vertical-center">Quantidade de Alerta</th>
                            <th class="vertical-center">Usuário</th>
                            <th class="vertical-center">Data da Carga</th>
                            <th class="vertical-center">Ação</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for rs in entrega_buffer %}

                            <tr>
                                <td class="vertical-center">
                                    {{ rs.nu_entrega }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.dt_entrega }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.qt_total_registro }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.no_usuario }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.dt_cadastro }}
                                </td>
                                <td class="vertical-center">
                                    <a class="btn btn-info btn-sm" title="Gerar ShapeFile"
                                       href="{{ url_for('auditoria_buffer_gerar_shp',entrega_id=rs.id) }}">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a class="btn btn-danger btn-sm" title="Excluir" href="javascript:;"
                                       onClick="excluirAuditoriaBuffer({{ rs.id }},{{ rs.nu_entrega }});">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="6" class="center strong" style="padding: 10px; color: #8B0000">
                                    Nenhum registro encontrado!
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>


                </div><!-- /end panel-body -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/auditoria_buffer.js') }}"></script>
{% endblock %}