{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    [CMR Landsat] - Aviso Diário - Alterar
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    <a class="btn btn-danger" href="{{ url_for('gerar_aviso_diario') }}" title="&laquo; Voltar">&laquo;
                        Voltar</a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <form id="frmEntregaAvisoDiario" name="frmEntregaAvisoDiario" method="post" action="javascript:;">
                    <input type="hidden" name="id" id="id" value="{{ entrega_aviso_diario.id }}"/>

                    <div class="panel-body">

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Número do Aviso:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="no_referencia" id="no_referencia"
                                       value="{{ visao_entrega_aviso_diario.no_referencia }}" class="form-control"
                                       readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Ciclo:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="no_ciclo" id="no_ciclo"
                                       value="{{ visao_entrega_aviso_diario.no_ciclo }}" class="form-control" readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Órbita(s):
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="nu_orbita" id="nu_orbita"
                                       value="{{ visao_entrega_aviso_diario.nu_orbita }}" class="form-control"
                                       readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Situação:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="st_situacao" id="st_situacao"
                                       value="{{ visao_entrega_aviso_diario.st_situacao }}" class="form-control"
                                       readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Dado disponibilizado no Banco de Dados CMR:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="dt_disponibilizado" id="dt_disponibilizado"
                                       value="{{ visao_entrega_aviso_diario.dt_disponibilizado }}" class="form-control"
                                       readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-3 col-sm-3 col-md-3 right strong" style="padding-top: 7px">
                                Nova data de disponibilização:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" class="form-control date" style="width: 120px"
                                       onKeyUp="mascara( this , data );" maxlength="10" id="dt_disponibilizado_banco"
                                       name="dt_disponibilizado_banco" required>
                            </div>
                        </div><!-- /end class="row" -->

                    </div><!-- /end panel-body -->

                    <div class="panel-footer">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div><!-- /end panel-footer -->

                </form><!-- /end form -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/aviso_diario_formulario.js') }}"></script>
{% endblock %}