{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-info">
                    [CMR Landsat] - Relatório Aviso Diário
                </h2>
            </div>
        </div>
    </div>

    <div>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="relatorio">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">

                        <div class="panel panel-default" style="border-top: none">
                            <div class="panel-heading">
                                <form method="post" action="javascript:;" id="frmRelatorio" name="frmRelatorio"
                                      class="form-inline">

                                    <div class="row" style="padding: 5px;">
                                        <div class="col-xs-5 col-sm-5 col-md-5">
                                            <label class="radio-inline" for="rlinlineRadio1">
                                                <input onChange="opcaoTipoRelatorio('ti');" type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio1"
                                                       value="ti" required> Terra Indígena
                                            </label>
                                            <label class="radio-inline" for="rlinlineRadio2">
                                                <input onChange="opcaoTipoRelatorio('cr');" type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio2"
                                                       value="cr"> Coordenação Regional
                                            </label>
                                            <label class="radio-inline" for="rlinlineRadio3">
                                                <input onChange="opcaoTipoRelatorio('uf');" type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio3"
                                                       value="uf"> Estado(UF)
                                            </label>
                                        </div><!-- /end col-xs-5 col-sm-5 col-md-5 -->
                                    </div><!-- /end row -->
                                    <div class="row" style="padding: 5px;">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <div class="form-group">
                                                <label for="dt_inicial" style="font-weight: normal">Data
                                                    Inicial: </label>
                                                <input type="text" readonly class="date" style="width: 120px"
                                                       onKeyUp="mascara( this , data );"
                                                       maxlength="10" id="dt_inicial" name="dt_inicial"
                                                       placeholder="Data Inicial" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="dt_final" style="font-weight: normal">Data Final: </label>
                                                <input type="text" readonly class="date" style="width: 120px"
                                                       onKeyUp="mascara( this , data );"
                                                       maxlength="10" id="dt_final" name="dt_final"
                                                       placeholder="Data Final" required>
                                            </div>
                                        </div><!-- /end col-xs-5 col-sm-5 col-md-5 -->
                                    </div><!-- /end row -->

                                        <div id="opcao_ti" class="hide">
                                            <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                                                <div id="opcao_ti_dv1" class="col-xs-6 col-sm-6 col-md-6">
                                                    <label for="">Terra Indígena</label>
                                                    <select multiple="multiple" style="min-width: 100% !important;" id="opcao_ti_sl1" name="opcao_ti_sl1">
                                                        {% for rs in json_ti %}
                                                        <option value="{{ rs.co_funai }}">
                                                            {{ rs.no_ti }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div id="opcao_ti_dv2" class="col-xs-6 col-sm-6 col-md-6">
                                                    <label for="">Coordenação Regional</label>
                                                    <select multiple="multiple" style="min-width: 100% !important;" id="opcao_ti_sl2" name="opcao_ti_sl2">
                                                        {% for rs in json_cr %}
                                                        <option value="{{ rs.id_cr }}">
                                                            {{ rs.ds_cr }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- /end row -->
                                            <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                                                <div id="opcao_ti_dv3" class="col-xs-6 col-sm-6 col-md-6">
                                                    <label for="">Estado(UF)</label>
                                                    <select multiple="multiple" style="min-width: 100% !important;" id="opcao_ti_sl3" name="opcao_ti_sl3">
                                                        {% for rs in json_uf %}
                                                        <option value="{{ rs.id_uf }}">
                                                            {{ rs.sg_uf }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- /end row -->
                                        </div><!-- /end row -->

                                        <div id="opcao_cr" class="hide">
                                            <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                                                <div id="opcao_cr_dv1" class="col-xs-8 col-sm-8 col-md-8">
                                                    <label for="">Coordenação Regional</label>
                                                    <select multiple="multiple" style="min-width: 100% !important;" id="opcao_cr_sl1" name="opcao_cr_sl1">
                                                        {% for rs in filtro_aviso_diario_relatorio_cr %}
                                                        <option value="{{ rs.id_cr }}">
                                                            {{ rs.ds_cr }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- /end row -->
                                        </div>
                                        <!-- /end row -->

                                        <div id="opcao_uf" class="hide">
                                            <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                                                <div id="opcao_uf_dv1" class="col-xs-8 col-sm-8 col-md-8">
                                                    <label for="">Estado(UF)</label>
                                                    <select multiple="multiple" style="min-width: 100% !important;" id="opcao_uf_sl1" name="opcao_uf_sl1">
                                                        {% for rs in filtro_aviso_diario_relatorio_uf %}
                                                        <option value="{{ rs.sg_uf }}">
                                                            {{ rs.no_uf }}
                                                        </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- /end row -->
                                        </div>
                                        <!-- /end row -->

                                        </div><!-- /end row -->                                       

                                    </div><!-- /end row -->
                                    <div class="row" style="padding: 5px;">
                                        <div class="col-xs-12 col-sm-12 col-md-12">
                                            <input type="submit" class="btn btn-info" value="Buscar"/>
                                        </div>
                                    </div><!-- /end row -->
                                </form>
                            </div><!-- /end panel-heading -->

                            <div class="panel-body" id="panel_relatorio">
                            </div><!-- /end panel panel-primary -->

                        </div><!-- /end panel panel-info -->

                    </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                </div><!-- /end class="row" -->

            </div>
        </div>

    </div>

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/aviso_diario.js') }}"></script>
{% endblock %}
