<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %} tag_version - (HEX)Área Restrita - Projeto CMR/FUNAI {% endblock %}
    </title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Theme -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- TODC Bootstrap theme -->
    <link href="{{ url_for('static', filename='css/todc-bootstrap.min.css') }}" rel="stylesheet">
    <!-- TODC DatePicker -->
    <link href="{{ url_for('static', filename='js/todc-datepicker/css/todc-datepicker.css') }}" rel="stylesheet">
    <!-- DataTables Bootstrap theme -->
    <link href="{{ url_for('static', filename='js/datatables/media/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/datatables/extensions/Buttons/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <!-- APP Style -->
    {% if style_app2 > 0 %}
    <link href="{{ url_for('static', filename='css/app2.css') }}" rel="stylesheet"> {% else %}
    <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet"> {% endif %}

    <!-- TODC Select2 -->
    <link href="{{ url_for('static', filename='js/select2/select2.css') }}" rel="stylesheet">

    <script type="text/javascript">
        let baseUrl = "{{ baseUrl }}";
    </script>

</head>

<body>

    {% block toolbar %}

    <!-- Fixed toolbar -->
    <nav class="navbar navbar-toolbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <span class="text-danger strong">HEX/FUNAI - Gerencial</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if '/'|string() == request.url_rule|string %}active{% endif %}">
                        <a href="{{ url_for('index') }}">
                            Página Inicial
                        </a>
                    </li>

                    <li class="dropdown {% if '/alerta-urgente'|string() == request.url_rule|string or '/gerar-aviso-diario'|string() == request.url_rule|string or '/aviso-diario'|string() == request.url_rule|string %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monitoramento Diário
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="{% if '/alerta-urgente'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('alerta_urgente') }}">
                                    Alerta Urgente
                                </a>
                            </li>
                            <li class="{% if '/gerar-aviso-diario'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('gerar_aviso_diario') }}">
                                    Gerar Aviso Diário
                                </a>
                            </li>
                            <li class="{% if '/aviso-diario'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('aviso_diario') }}">
                                    Relatório Aviso Diário
                                </a>
                            </li>
                        </ul>
                    </li>
                    </li>

                    <li class="dropdown {% if '/mascara-antropismo'|string() == request.url_rule|string or '/auditoria-buffer'|string() == request.url_rule|string %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Máscara de Antropismo
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="{% if '/mascara-antropismo'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('mascara_antropismo') }}">
                                    Máscara de Antropismo
                                </a>
                            </li>
                            <li class="{% if '/auditoria-buffer'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('auditoria_buffer') }}">
                                    Auditoria da Máscara de Antropismo (Buffer)
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown {% if '/radarsat2-trimestral'|string() == request.url_rule|string or '/radarsat2-mensal'|string() == request.url_rule|string %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RadarSat2
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="{% if '/radarsat2-mensal'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('radarsat2_mensal') }}">
                                    Entrega Mensal
                                </a>
                            </li>
                            <li class="{% if '/radarsat2-trimestral'|string() == request.url_rule|string %}active{% endif %}">
                                <a href="{{ url_for('radarsat2_trimestral') }}">
                                    Entrega Trimestral
                                </a>
                            </li>
                        </ul>
                    </li>

                    {% if session.usuario['st_administrador'] %}
                    <li class="{% if '/usuario'|string() == request.url_rule|string %}active{% endif %}">
                        <a href="{{ url_for('usuario') }}">
                            Usuários
                        </a>
                    </li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('usuario_formulario',id=session.usuario['id']) }}">
                            <span class="text-info strong">{{ session.usuario['no_usuario'] }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">Sair</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    {% endblock %}

    <div class="container-fluid">

        {% block content %} {% endblock %}

    </div>

    {% block javascript %}

    <!-- Jquery -->
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>

    <!-- Jquery Form -->
    <script src="{{ url_for('static', filename='js/lib/jquery.form.min.js') }}"></script>

    <!-- TODC DatePicker -->
    <script src="{{ url_for('static', filename='js/todc-datepicker/js/bootstrap-datepicker.js') }}"></script>

    <!-- Jquery bootbox Extension -->
    <script src="{{ url_for('static', filename='js/bootbox/bootbox.min.js') }}"></script>

    <!-- DataTables -->
    <script src="{{ url_for('static', filename='js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables/media/js/dataTables.bootstrap.min.js') }}"></script>

    <!-- DataTables Extensions -->
    <script src="{{ url_for('static', filename='js/datatables/extensions/Buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables/extensions/Buttons/js/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables/extensions/Buttons/js/buttons.flash.min.js') }}"></script>

    <!-- PDF Make -->
    <script src="{{ url_for('static', filename='js/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfmake/vfs_fonts.js') }}"></script>

    <!-- DataTables Extensions -->
    <script src="{{ url_for('static', filename='js/datatables/extensions/Buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datatables/extensions/Buttons/js/buttons.print.min.js') }}"></script>

    <!-- Jquery blockUI Extension -->
    <script src="{{ url_for('static', filename='js/lib/jquery.blockUI.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>


    <!-- TODC Select -->
    <script src="{{ url_for('static', filename='js/select2/select2.js') }}"></script>

    <!-- APP -->
    <script src="{{ url_for('static', filename='js/lib/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/Math.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    {% endblock %} {% block javascript_pagina %} {% endblock %}

</body>

</html>
