{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h2 class="text-info">
                    [CMR Landsat] - Gerar Aviso Diário
                </h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 right">
                {% if session.usuario['st_administrador'] or session.usuario['st_analista'] %}
                    <h1>
                        <button type="button" class="btn btn-warning btn-lg" onClick="monitoramentoConsolidado()">
                            1. Efetuar Carga
                        </button>
{#                        <button type="button" class="btn btn-primary btn-lg" onClick="atualizarVisoesAvisoDiario()">#}
{#                            2. Atualizar Visões#}
{#                        </button>#}
                        <button title="Novo Aviso" type="button" class="btn btn-success btn-lg"
                                data-backdrop="static"
                                data-keyboard="false" data-toggle="modal"
                                data-target="#modalFormulario">
                            2. Novo Aviso
                        </button>
                    </h1>
                {% endif %}
            </div>
        </div>
    </div>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">

            {% for r in aba_entrega_ano %}

                <li role="presentation" class="{{ r.st_aba_active }}">
                    <a href="#{{ r.ds_aba_id }}" aria-controls="{{ r.ds_aba_id }}" role="tab"
                       data-toggle="tab">
                        <span style="font-size: 14px;">{{ r.ds_aba_ano_entrega }}</span>
                    </a>
                </li><!-- /end role="presentation" -->

            {% endfor %}

        </ul><!-- /end class="nav nav-tabs" -->

        <!-- Tab panes -->
        <div class="tab-content">

            {% for r in aba_entrega_ano %}

                <div role="tabpanel" class="tab-pane {{ r.st_aba_active }}" id="{{ r.ds_aba_id }}">

                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-12">

                            <div class="panel panel-default" style="border-top: none !important;">

                                <div class="panel-body">

                                    <table class="table table-bordered table-striped table-hover table-condensed table-entrega-aviso-diario"
                                           id="tabela_entrega_aviso_diario">

                                        <thead>
                                        <tr>
                                            <th class="vertical-center">
                                                Código
                                            </th>
                                            <th class="vertical-center">
                                                Número do Aviso
                                            </th>
                                            <th class="vertical-center">
                                                Ciclo
                                            </th>
                                            <th class="vertical-center">
                                                Órbita(s)
                                            </th>
                                            <th class="vertical-center">
                                                Situação
                                            </th>
                                            <th class="vertical-center">
                                                Descrição
                                            </th>
                                            <th class="vertical-center">
                                                Usuário
                                            </th>
                                            <th class="vertical-center">
                                                Gerado em
                                            </th>
                                            <th class="vertical-center">
                                                Ação
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        {% for rs in entrega_aviso if rs.nu_ano == r.nu_ano %}

                                            <tr>
                                                <td style="width: 6% !important;" class="vertical-center">
                                                    {{ rs.id }}
                                                </td>
                                                <td style="width: 8% !important;" class="vertical-center">
                                                    {{ rs.no_referencia }}
                                                </td>
                                                <td style="width: 10% !important;" class="vertical-center">
                                                    {{ rs.no_ciclo }}
                                                </td>
                                                <td style="width: 6% !important;" class="vertical-center">
                                                    {{ rs.nu_orbita }}
                                                </td>
                                                <td style="width: 6% !important;" class="vertical-center">
                                                    {{ rs.st_situacao }}
                                                </td>
                                                <td style="width: 34% !important;" class="vertical-left">
                                                    {{ rs.no_ciclo_descricao }}
                                                </td>
                                                <td style="width: 10% !important;" class="vertical-center">
                                                    {{ rs.no_usuario }}
                                                </td>
                                                <td style="width: 10% !important;" class="vertical-center">
                                                    {{ rs.dt_cadastro }}
                                                </td>
                                                <td style="width: 10% !important;" class="vertical-center">
                                                    <a class="btn btn-primary btn-sm" title="Editar"
                                                       href="{{ url_for('aviso_diario_formulario',id=rs.id) }}">
                                                        <span class="glyphicon glyphicon-pencil"></span>
                                                    </a>
                                                    <a onClick="popupModal('{{ url_for('visualizar_entrega_aviso_diario',id=rs.id) }}','aviso_diario');"
                                                       href="javascript:;" class="btn btn-default btn-sm"
                                                       title="Visualizar Aviso">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                    </a>
                                                    <a href="{{ url_for('visualizar_entrega_aviso_diario',id=rs.id, tp='pdf' ) }}"
                                                       class="btn btn-success btn-sm"
                                                       title="Baixar PDF">
                                                        <span class="glyphicon glyphicon-save"></span>
                                                    </a>
                                                    <a class="btn btn-danger btn-sm" title="Excluir" href="javascript:;"
                                                       onClick="excluirAviso({{ rs.id }});">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </a>
                                                </td>

                                            </tr>

                                        {% else %}

                                            <tr>
                                                <td colspan="9" class="center strong"
                                                    style="padding: 10px; color: #A52A2A">
                                                    Nenhum registro encontrado!
                                                </td>
                                            </tr>

                                        {% endfor %}

                                        </tbody>

                                    </table>

                                </div><!-- /end panel-body -->

                            </div><!-- /end panel panel-primary -->

                        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                    </div><!-- /end class="row" -->

                </div><!-- /end role="tabpanel" -->

            {% endfor %}

        </div>

    </div>


    <!-- Modal -->
    <div class="modal fade" id="modalVisualizarAviso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-aviso" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fechar">
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modalFormulario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form name="frmAvisoDiario" id="frmAvisoDiario" action="javascript:;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Fechar"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Gerar Novo Aviso</h4>
                    </div>
                    <div class="modal-body">


                        <input type="hidden" name="tb_usuario_id" id="tb_usuario_id"
                               value="{{ session.usuario['id'] }}"/>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="nu_aviso">Número do Aviso</label>
                                    <input style="width: 180px !important;" maxlength="10" type="text"
                                           class="form-control" required name="nu_aviso" id="nu_aviso"
                                           placeholder="Número do Aviso" onKeyUp="mascara( this , soNumeros );"/>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="nu_aviso">Último Número(Aviso)</label>
                                    <input style="width: 180px !important;" maxlength="10" type="text"
                                           class="form-control" value="{{ ultimo_nu_aviso }}" readonly/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="tb_ciclo_monitoramento_id">Ciclo</label>
                                    <select class="form-control" required autofocus id="tb_ciclo_monitoramento_id"
                                            name="tb_ciclo_monitoramento_id"
                                            onChange="buscarNuOrbitaPorCiclo(this,'nu_orbita','dv_ciclo_orbita');">
                                        <option value=""></option>
                                        {% for rs in ciclos_monitorados %}
                                            <option value="{{ rs.id }}">
                                                {{ rs.no_ciclo }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="st_situacao">Situação</label>
                                    <select class="form-control" required name="st_situacao" id="st_situacao">
                                        <option value=""></option>
                                        <option value="concluído">concluído</option>
                                        <option value="parcial">parcial</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row center" style="padding: 5px;">
                            <div id="dv_ciclo_orbita" class="col-xs-12 col-sm-12 col-md-12 hide">
                                <select required multiple="multiple"
                                        style="min-width: 96% !important; height: 20px !important;"
                                        id="nu_orbita"
                                        name="nu_orbita">
                                </select>
                            </div>
                        </div><!-- /end row -->


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"
                                onClick="limparImputDiv();">Cancelar
                        </button>
                        <input type="submit" class="btn btn-success" value="Salvar"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/gerar_aviso_diario.js') }}"></script>
{% endblock %}