{% extends 'base.html' %} {% block content %}

<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h3 class="text-info">
                Área Gerencial
            </h3>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xs-4 col-sm-4 col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title strong">
                    Aviso Diário - 8 Últimos gerados
                    <a class="btn btn-default pull-right" role="button" href="{{ url_for('gerar_aviso_diario') }}" title="Visualizar todos avisos">Ver todas</a>
                </h3>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="vertical-center">Número do Aviso</th>
                            <th class="vertical-center">Ciclo</th>
                            <th class="vertical-center">Órbita(s)</th>
                            <th class="vertical-center">Situação</th>
                            <th class="vertical-center">Baixar</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for rs in entrega_aviso_diario %}

                        <tr data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="top" data-title="<span class='strong text-danger'>{{ rs.no_referencia }} - {{ rs.no_ciclo }}</span>"
                            data-content="<span class='text-info'>{{ rs.no_ciclo_descricao }}</span>">
                            <td class="vertical-center">
                                {{ rs.no_referencia }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.no_ciclo }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.nu_orbita }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.st_situacao }}
                            </td>
                            <td class="vertical-center">
                                <a onClick="popupModal('{{ url_for('visualizar_entrega_aviso_diario',id=rs.id) }}','aviso_diario');" href="javascript:;"
                                    class="btn btn-default btn-sm" title="Visualizar Aviso">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                <a href="{{ url_for('visualizar_entrega_aviso_diario',id=rs.id, tp='pdf' ) }}" class="btn btn-success btn-sm" title="Baixar PDF">
                                    <span class="glyphicon glyphicon-save"></span>
                                </a>
                            </td>
                        </tr>

                        {% else %}

                        <tr>
                            <td colspan="5" class="center strong" style="padding: 10px; color: #A52A2A">
                                Nenhum registro encontrado!
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title strong">
                    Áreas Terra Indígena
                </h3>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="vertical-left">Limite</th>
                            <th class="vertical-center">Qtde.</th>
                            <th class="vertical-center">Área Total (km²)</th>
                            <th class="vertical-center">Dt. Atualização</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for rs in info_area_total_ti_amz %}

                        <tr>
                            <td class="vertical-left">
                                {{ rs.no_limite }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.nu_quantidade }}
                            </td>
                            <td class="vertical-right">
                                {{ rs.nu_area_km2 }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.dt_ultima_atualizacao }}
                            </td>
                        </tr>

                        {% else %}

                        <tr>
                            <td colspan="4" class="center strong" style="padding: 10px; color: #A52A2A">
                                Nenhum registro encontrado!
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

    <div class="col-xs-5 col-sm-5 col-md-5">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title strong">
                    Tabelas - 10 Últimas atualizações
                    <a class="btn btn-default pull-right" role="button" href="{{ url_for('tabela_informacao_atualizacao') }}" title="Visualizar todas atualizações">Ver todas
                    </a>
                </h3>
            </div>
            <div class="table-responsive">

                <table class="table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th class="vertical-left">Nome da Tabela</th>
                            <th class="vertical-center" width="16%">Qtd. Registro</th>
                            <th class="vertical-center" width="24%">Dt. Atualização</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for rs in tabela_informacao_aplicacao %}

                        <tr data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="top" data-title="<span class='strong text-danger'>{{ rs.no_esquema }}.{{ rs.no_tabela }}</span>"
                            data-content="<span class='text-info'>{{ rs.ds_comentario }}</span>">
                            <td class="vertical-left">
                                {{ rs.no_esquema }}.{{ rs.no_tabela }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.qtd_registro }}
                            </td>
                            <td class="vertical-center">
                                {{ rs.dt_atualizacao }} - {{ rs.hr_atualizacao }}
                            </td>
                        </tr>

                        {% else %}

                        <tr>
                            <td colspan="3" class="center strong" style="padding: 10px; color: #A52A2A">
                                Nenhum registro encontrado!
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

{% if session.usuario['st_administrador'] %}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title strong">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    Monitoramento de Serviço
                </h3>
            </div>
            <div class="panel-body">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#backup-mapeamento" aria-controls="backup-mapeamento" role="tab" data-toggle="tab">
                            Backup/Mapeamento
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#web-banco-outro" aria-controls="web-banco-outro" role="tab" data-toggle="tab">
                            Web/Banco/Outro(s)
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="backup-mapeamento">
                        <div style="border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; padding: 4px;">

                            <table class="table table-bordered table-striped table-hover table-condensed" id="table-backup-mapeamento">
                                <thead>
                                    <tr class="warning">
                                        <th class="vertical-center">Servidor</th>
                                        <th class="vertical-center">Nr. IP</th>
                                        <th class="vertical-center">Serviço</th>
                                        <th class="vertical-center">Descrição</th>
                                        <th class="vertical-center">Situação</th>
                                        <th class="vertical-center">Dt. Serviço</th>
                                        <th class="vertical-center">Em Atividade</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in sm_backup_mapeamento %} {% set r = data.to_json() %}

                                    <tr data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="top" data-title="<span class='strong text-danger'>{{ r.no_servidor }} - {{ r.nu_ip }}</span>"
                                        data-content="<span class='text-info'>{{ r.ds_descricao_servidor }}</span>">
                                        <td class="vertical-left">{{ r.no_servidor }}</td>
                                        <td class="vertical-center">{{ r.nu_ip }}</td>
                                        <td class="vertical-left">{{ r.no_servico }}</td>
                                        <td class="vertical-left">{{ r.ds_descricao_servico }}</td>
                                        <td class="vertical-center">{{ r.ds_status|safe }}</td>
                                        <td class="vertical-center">{{ r.dt_servico.strftime('%d/%m/%Y - %H:%M:%S') if r.dt_servico != None }}</td>
                                        <td>{{ r.nu_ano }} {{ r.nu_mes }} {{ r.nu_dia }} {{ r.nu_hora }} {{ r.nu_minuto }} {{
                                            r.nu_segundo }}</td>
                                    </tr>

                                    {% else %}

                                    <tr>
                                        <td colspan="7" class="center strong" style="padding: 10px; color: #A52A2A">
                                            Nenhum registro encontrado!
                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="web-banco-outro">
                        <div style="border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; padding: 4px;">

                            <table class="table table-bordered table-striped table-hover table-condensed" id="table-web-banco-outro">
                                <thead>
                                    <tr class="info">
                                        <th class="vertical-center">Servidor</th>
                                        <th class="vertical-center">Nr. IP</th>
                                        <th class="vertical-center">Serviço</th>
                                        <th class="vertical-center">Descrição</th>
                                        <th class="vertical-center">Situação</th>
                                        <th class="vertical-center">Dt. Serviço</th>
                                        <th class="vertical-center">Em Atividade</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for data in sm_web_banco_outro %} {% set r = data.to_json() %}

                                    <tr data-toggle="popover" data-trigger="hover" data-container="body" data-html="true" data-placement="top" data-title="<span class='strong text-danger'>{{ r.no_servidor }} - {{ r.nu_ip }}</span>"
                                        data-content="<span class='text-info'>{{ r.ds_descricao_servidor }}</span>">
                                        <td class="vertical-left">{{ r.no_servidor }}</td>
                                        <td class="vertical-center">{{ r.nu_ip }}</td>
                                        <td class="vertical-left">{{ r.no_servico }}</td>
                                        <td class="vertical-left">{{ r.ds_descricao_servico }}</td>
                                        <td class="vertical-center">{{ r.ds_status|safe }}</td>
                                        <td class="vertical-center">{{ r.dt_servico.strftime('%d/%m/%Y - %H:%M:%S') if r.dt_servico != None }}</td>
                                        <td class="vertical-left">{{ r.nu_ano }} {{ r.nu_mes }} {{ r.nu_dia }} {{ r.nu_hora }} {{ r.nu_minuto }} {{
                                            r.nu_segundo }}</td>
                                    </tr>

                                    {% else %}

                                    <tr>
                                        <td colspan="7" class="center strong" style="padding: 10px; color: #A52A2A">
                                            Nenhum registro encontrado!
                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{% endif %} {% endblock %} {% block javascript_pagina %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#table-backup-mapeamento, #table-web-banco-outro').DataTable({
            "language": {
                "url": "./static/js/datatables/pt_BR.json"
            },
            "pageLength": 25,
            "bPaginate": true,
            "bInfo": true,
            "bSort": false,
            "bFilter": true
        });
    });
</script>
{% endblock %}
