{% extends 'base.html' %}

{% block toolbar %}
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12" style="padding: 20px">

            <h2 class="form-signin-heading text-center">Área Restrita</h2>

            <div class="card card-signin">
                <form class="form-signin" method="post" action="javascript:;" id="frmLogin" name="frmLogin">
                    <label for="ds_email" class="sr-only">E-mail</label>
                    <input type="email" id="ds_email" name="ds_email" class="form-control" maxlength="50"
                           placeholder="E-mail" required
                           autofocus>
                    <label for="ds_senha" class="sr-only">Senha</label>
                    <input type="password" id="ds_senha" name="ds_senha" minlength="6" maxlength="8"
                           class="form-control" placeholder="Senha"
                           required>
                    <button class="btn btn-lg btn-warning btn-block" type="submit">Acessar</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
