{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    [CMR Landsat] - Consultar Máscara de Antropismo
                </h2>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <form method="post" action="javascript:;" id="frmRelatorioMascara" name="frmRelatorioMascara"
                          class="form-inline">

                        <div class="row" style="padding: 5px;">
                            <div class="col-xs-5 col-sm-5 col-md-5">
                                <label class="radio-inline" for="rlinlineRadio1">
                                    <input type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio1"
                                           value="ti" required> Terra Indígena
                                </label>
                                <label class="radio-inline" for="rlinlineRadio2">
                                    <input type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio2"
                                           value="cr"> Coordenação Regional
                                </label>
                                <label class="radio-inline" for="rlinlineRadio3">
                                    <input type="radio" name="rd_relatorio_opcao_filtro" id="rlinlineRadio3"
                                           value="uf"> Estado(UF)
                                </label>
                            </div><!-- /end col-xs-5 col-sm-5 col-md-5 -->
                        </div><!-- /end row -->
                        <div class="row" style="padding: 5px;">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <input type="submit" class="btn btn-info" value="Buscar"/>
                            </div>
                        </div><!-- /end row -->
                    </form>
                </div><!-- /end panel-heading -->

                <div class="panel-body" id="panel_mascara_relatorio">
                </div><!-- /end panel panel-primary -->

            </div><!-- /end panel panel-info -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/mascara_antropismo.js') }}"></script>
{% endblock %}