{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    [RadarSat2] - Substituir Entrega Mensal
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    <a class="btn btn-danger" href="{{ url_for('radarsat2_mensal') }}" title="&laquo; Voltar">&laquo;
                        Voltar</a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <form id="frmEntregaMensalRadarSat2" name="frmEntregaMensalRadarSat2" method="post"
                      action="javascript:;" enctype="multipart/form-data" autocomplete="off">
                    <input type="hidden" name="id" id="id" value="{{ visao_entrega_mensal_radarsat2.id }}"/>
                    <input type="hidden" name="nu_entrega" id="nu_entrega"
                           value="{{ visao_entrega_mensal_radarsat2.nu_entrega }}"/>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <label>Descrição</label>
                                <input type="text" name="no_entrega_descricao" id="no_entrega_descricao"
                                       value="{{ visao_entrega_mensal_radarsat2.no_entrega_descricao|replace('<i>','')|replace('</i>','') }}"
                                       class="form-control" readonly/>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <label>Dado disponibilizado no Banco de Dados CMR:</label>
                                <input type="text" name="dt_disponibilizado" id="dt_disponibilizado"
                                       value="{{ visao_entrega_mensal_radarsat2.dt_disponibilizado }}"
                                       class="form-control" readonly/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label>Referência</label>
                                <input type="text" name="no_referencia" id="no_referencia"
                                       value="{{ visao_entrega_mensal_radarsat2.no_referencia }}"
                                       class="form-control" readonly/>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label>Número da Entrega</label>
                                <input type="text" name="txt_nu_entrega" id="txt_nu_entrega"
                                       value="{{ visao_entrega_mensal_radarsat2.nu_entrega }}"
                                       class="form-control" readonly/>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label>Data da Entrega</label>
                                <input type="text" name="txt_dt_entrega" id="txt_dt_entrega"
                                       value="{{ visao_entrega_mensal_radarsat2.dt_entrega }}"
                                       class="form-control" readonly/>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <label>Quantidade de Alerta</label>
                                <input type="text" name="qt_total_registro" id="qt_total_registro"
                                       value="{{ visao_entrega_mensal_radarsat2.qt_total_registro }}"
                                       class="form-control" readonly/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <label for="dt_entrega">Data da Entrega(Nova)</label>
                                <input type="text" readonly class="form-control date" style="width: 120px"
                                       onKeyUp="mascara( this , data );"
                                       maxlength="10" id="dt_entrega" name="dt_entrega" placeholder="Data da Entrega"
                                       required>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8">
                                <label for="filezip">Arquivo ZIP</label>
                                <input type="file" id="filezip" name="filezip" placeholder="Arquivo ZIP" required>
                            </div>
                        </div>

                    </div><!-- /end panel-body -->

                    <div class="panel-footer">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div><!-- /end panel-footer -->

                </form><!-- /end form -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/radarsat2_substituir_entrega.js') }}"></script>
{% endblock %}