{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-warning">
                    [RadarSat2] - Entrega Trimestral
                </h2>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">
                {% if session.usuario['st_administrador'] %}

                    <div class="panel-heading">
                        <form class="form-inline" id="frmEntregaTrimestral" name="frmEntregaTrimestral" method="post"
                              action="javascript:;" enctype="multipart/form-data" autocomplete="off">

                            <div class="form-group">
                                <label class="sr-only" for="dt_entrega">Data da Entrega</label>
                                <input type="text" readonly class="date" style="width: 120px"
                                       onKeyUp="mascara( this , data );"
                                       maxlength="10" id="dt_entrega" name="dt_entrega" placeholder="Data da Entrega"
                                       required>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="filezip">Arquivo ZIP</label>
                                <input type="file" id="filezip" name="filezip" placeholder="Arquivo ZIP" required>
                            </div>
                            <button type="submit" class="btn btn-default btn-sm">Nova Entrega</button>

                        </form>
                    </div><!-- /end panel-heading -->
                {% endif %}

                <div class="panel-body">

                    <table class="table table-striped table-hover table-condensed">

                        <thead>
                        <tr>
                            <th class="center">Número da Entrega</th>
                            <th class="center">Data da Entrega</th>
                            <th class="center">Quantidade de Alerta</th>
                            <th class="center">Quantidade de Água</th>
                            <th class="center">Data da Carga</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for rs in entrega_trimestral %}

                            <tr>
                                <td class="center">
                                    {{ rs.nu_entrega }}
                                </td>
                                <td class="center">
                                    {{ rs.dt_entrega }}
                                </td>
                                <td class="center">
                                    {{ rs.qt_total_registro_alerta }}
                                </td>
                                <td class="center">
                                    {{ rs.qt_total_registro_agua }}
                                </td>
                                <td class="center">
                                    {{ rs.dt_cadastro }}
                                </td>
                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="5" class="center strong" style="padding: 10px; color: #8B0000">Nenhum
                                    registro
                                    encontrado!
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>


                </div><!-- /end panel-body -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/radarsat2_trimestral.js') }}"></script>
{% endblock %}