{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h2 class="text-warning">
                    [RadarSat2] - Entrega Mensal
                </h2>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-default">
                {% if session.usuario['st_administrador'] %}

                    <div class="panel-heading">
                        <form class="form-inline" id="frmEntregaMensal" name="frmEntregaMensal" method="post"
                              action="javascript:;" enctype="multipart/form-data" autocomplete="off">

                            <div class="form-group">
                                <label class="sr-only" for="dt_entrega">Data da Entrega</label>
                                <input type="text" readonly class="date" style="width: 120px"
                                       onKeyUp="mascara( this , data );"
                                       maxlength="10" id="dt_entrega" name="dt_entrega" placeholder="Data da Entrega"
                                       required>
                            </div>

                            <div class="form-group">
                                <label class="sr-only" for="filezip">Arquivo ZIP</label>
                                <input type="file" id="filezip" name="filezip" placeholder="Arquivo ZIP" required>
                            </div>
                            <button type="submit" class="btn btn-default btn-sm">Nova Entrega</button>

                        </form>
                    </div><!-- /end panel-heading -->
                {% endif %}

                <div class="panel-body">

                    <table class="table table-bordered table-striped table-hover table-condensed"
                           id="tabela_entrega_mensal_radarsat2">

                        <thead>
                        <tr>
                            <th class="vertical-center">Substituir</th>
                            {#                            <th class="vertical-center">Código</th>#}
                            <th class="vertical-center">Número da Entrega</th>
                            <th class="vertical-center">Data da Entrega</th>
                            <th class="vertical-center">Quantidade de Alerta</th>
                            <th class="vertical-center">Data da Carga</th>
                            <th class="vertical-center">Ação</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for rs in entrega_mensal %}

                            <tr>
                                <td class="vertical-center">
                                    <a href="{{ url_for('radarsat2_substituir_entrega',id=rs.id) }}"
                                       class="btn btn-danger btn-sm"
                                       title="Clique para substituir essa entrega">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                {#                                <td class="vertical-center">#}
                                {#                                    {{ rs.id }}#}
                                {#                                </td>#}
                                <td class="vertical-center">
                                    {{ rs.nu_entrega }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.dt_entrega }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.qt_total_registro }}
                                </td>
                                <td class="vertical-center">
                                    {{ rs.dt_cadastro }}
                                </td>
                                <td class="vertical-center">
                                    <a class="btn btn-info btn-sm" style="cursor: pointer"
                                       title="Clique para visualizar dados do relatório da entrega"
                                       href="{{ url_for('visualizar_relatorio_mensal_radarsat2',nu_entrega=rs.nu_entrega, dt_entrega=rs.dt_entrega) }}">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                    </a>

                                    <a onClick="popupModal('{{ url_for('visualizar_entrega_mensal_radarsat2',id=rs.id) }}','radarsat2_mensal');"
                                       href="javascript:;" class="btn btn-default btn-sm"
                                       title="Visualizar Relatório Radarsat2">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>

                                    <a href="{{ url_for('visualizar_entrega_mensal_radarsat2',id=rs.id, tp='pdf') }}"
                                       class="btn btn-success btn-sm"
                                       title="Baixar PDF">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </a>

                                </td>
                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="6" class="center strong" style="padding: 10px; color: #8B0000">Nenhum
                                    registro
                                    encontrado!
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>


                </div><!-- /end panel-body -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/radarsat2_mensal.js') }}"></script>
{% endblock %}