{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h2 class="text-warning">
                    [RadarSat2] - Relatório Mensal - <span
                        class="strong text-info">Entrega: {{ nu_entrega }} - {{ dt_entrega }}</span>
                </h2>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <h1>
                    <a class="btn btn-danger" href="{{ url_for('radarsat2_mensal') }}" title="&laquo; Voltar">&laquo;
                        Voltar</a>
                </h1>
            </div>
        </div>
    </div>

    <div>

        <input type="hidden" id="nu_entrega" name="nu_entrega" value="{{ nu_entrega }}"/>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#deteccao-por-frame" onClick="abaSelecionada('deteccao-por-frame');"
                   aria-controls="deteccao-por-frame" role="tab" data-toggle="tab" title="Frame">
                    <span style="font-size: 14px;">Frame</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#deteccao-por-terra-indigena" onClick="abaSelecionada('deteccao-por-terra-indigena');"
                   aria-controls="deteccao-por-terra-indigena" role="tab" data-toggle="tab"
                   title="Terra Indígena(Belo Monte)">
                    <span style="font-size: 14px;">TIs(Belo Monte)</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#deteccao-por-municipio" onClick="abaSelecionada('deteccao-por-municipio');"
                   aria-controls="deteccao-por-municipio" role="tab" data-toggle="tab" title="Município">
                    <span style="font-size: 14px;">Município</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#deteccao-por-terra-indigena-municipio"
                   onClick="abaSelecionada('deteccao-por-terra-indigena-municipio');"
                   aria-controls="deteccao-por-terra-indigena-municipio" role="tab" data-toggle="tab"
                   title="Terra Indígena(Belo Monte) / Município">
                    <span style="font-size: 14px;">TIs(Belo Monte) / Município</span>
                </a>
            </li>
        </ul>


        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="deteccao-por-frame"
                 style="padding: 10px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12" id="div-deteccao-por-frame">
                    </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                </div><!-- /end class="row" -->

            </div>
            <div role="tabpanel" class="tab-pane" id="deteccao-por-terra-indigena"
                 style="padding: 10px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12" id="div-deteccao-por-terra-indigena">
                    </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                </div><!-- /end class="row" -->

            </div>
            <div role="tabpanel" class="tab-pane" id="deteccao-por-municipio"
                 style="padding: 10px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12" id="div-deteccao-por-municipio">
                    </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                </div><!-- /end class="row" -->

            </div>
            <div role="tabpanel" class="tab-pane" id="deteccao-por-terra-indigena-municipio"
                 style="padding: 10px; border-bottom: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD">

                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12" id="div-deteccao-por-terra-indigena-municipio">
                    </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

                </div><!-- /end class="row" -->

            </div>
        </div>

    </div>

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/radarsat2_relatorio_mensal.js') }}"></script>
{% endblock %}