{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    Tabelas - Informação de Atualização
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    <a class="btn btn-primary" href="{{ url_for('index') }}" title="&laquo; Voltar">&laquo; Voltar</a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <div class="panel-body">

                    <table class="table table-bordered table-striped table-condensed table-hover"
                           id="table-informacao-atualizacao">
                        <thead>
                        <tr class="info">
                            <th style="padding: 10px" class="center">Nome da Tabela</th>
                            <th style="padding: 10px" class="center">Qtd. Registro</th>
                            <th style="padding: 10px" class="center">Dt. Atualização</th>
                            <th style="padding: 10px" class="center" width="30%">Comentário</th>
                            <th style="padding: 10px" class="center">Ação</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for rs in tabela_informacao_aplicacao %}

                            <tr>
                                <td class="left vertical-center">
                                    {{ rs.no_esquema }}.{{ rs.no_tabela }}
                                </td>
                                <td class="center vertical-center">
                                    {{ rs.qtd_registro }}
                                </td>
                                <td class="center vertical-center">
                                    {{ rs.dt_atualizacao }} - {{ rs.hr_atualizacao }}
                                </td>
                                <td class="left vertical-center">
                                    {{ rs.ds_comentario }}
                                </td>
                                <td class="center vertical-center">
                                    <a class="btn btn-primary btn-sm" title="Atualizar Comentário"
                                       href="{{ url_for('tabela_alterar_comentario',id=rs.id) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="5" class="center strong" style="padding: 10px; color: #A52A2A">
                                    Nenhum registro encontrado!
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>

                </div><!-- /end panel-body -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table-informacao-atualizacao').DataTable({
                "language": {
                    "url": "./static/js/datatables/pt_BR.json"
                },
                "pageLength": 25,
                "bPaginate": true,
                "bInfo": true,
                "bSort": false,
                "bFilter": true
            });
        });
    </script>
{% endblock %}