{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    Tabela - Alterar Comentário
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    <a class="btn btn-danger" href="{{ url_for('tabela_informacao_atualizacao') }}"
                       title="&laquo; Voltar">&laquo; Voltar</a>
                </h1>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <form id="frmTabela" name="frmTabela" method="post" action="javascript:;">
                    <input type="hidden" name="no_tabela" id="no_tabela"
                           value="{{ data.no_esquema }}.{{ data.no_tabela }}"/>

                    <div class="panel-body">

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                Nome da Tabela:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="no_esquema_tabela" id="no_esquema_tabela"
                                       value="{{ data.no_esquema }}.{{ data.no_tabela }}"
                                       class="form-control" maxlength="255" placeholder="Nome da Tabela" required
                                       readonly/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                Comentário:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <textarea style="height: 250px;" id="ds_comentario" name="ds_comentario"
                                          class="form-control" required>{{ data.ds_comentario }}</textarea>
                            </div>
                        </div><!-- /end class="row" -->

                    </div><!-- /end panel-body -->

                    <div class="panel-footer">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div><!-- /end panel-footer -->

                </form><!-- /end form -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/tabela_alterar_comentario.js') }}"></script>
{% endblock %}