{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    Usuários
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    <a class="btn btn-primary" href="{{ url_for('usuario_formulario') }}" title="Novo Usuário">Novo</a>
                </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <div class="panel-body">

                    <table class="table table-striped table-hover table-condensed">

                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Analista</th>
                            <th>Adminstrador</th>
                            <th>Ativo</th>
                            <th>Ação</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for rs in usuario %}

                            <tr>
                                <td>
                                    {{ rs.id }}
                                </td>
                                <td>
                                    {{ rs.no_usuario }}
                                </td>
                                <td>
                                    {{ rs.ds_email }}
                                </td>
                                <td>
                                    {% if rs.st_analista %}
                                        <span style="color: #228B22" class="glyphicon glyphicon-thumbs-up"></span>
                                    {% else %}
                                        <span style="color: #B22222" class="glyphicon glyphicon-thumbs-down"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rs.st_administrador %}
                                        <span style="color: #228B22" class="glyphicon glyphicon-thumbs-up"></span>
                                    {% else %}
                                        <span style="color: #B22222" class="glyphicon glyphicon-thumbs-down"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rs.st_ativo %}
                                        <span style="color: #228B22" class="glyphicon glyphicon-thumbs-up"></span>
                                    {% else %}
                                        <span style="color: #B22222" class="glyphicon glyphicon-thumbs-down"></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if rs.id != 1 %}
                                        <a class="btn btn-primary btn-sm" title="Editar"
                                           href="{{ url_for('usuario_formulario',id=rs.id) }}">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                        {% if session.usuario['id'] != rs.id %}
                                            <a class="btn btn-danger btn-sm" title="Excluir" href="javascript:;">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>

                        {% else %}

                            <tr>
                                <td colspan="7" class="center strong" style="padding: 10px; color: #A52A2A">
                                    Nenhum registro encontrado!
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>

                    </table>


                </div><!-- /end panel-body -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}