{% extends 'base.html' %}

{% block content %}

    <div class="page-header">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8">
                <h2 class="text-info">
                    Usuário - {% if usuario %} Alterar {% else %} Novo {% endif %}
                </h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <h1>
                    {% if session.usuario['st_administrador'] %}
                        <a class="btn btn-danger" href="{{ url_for('usuario') }}" title="&laquo; Voltar">&laquo;
                            Voltar</a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ url_for('index') }}" title="&laquo; Voltar">&laquo;
                            Voltar</a>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="panel panel-info">

                <form id="frmUsuario" name="frmUsuario" method="post" action="javascript:;">
                    <input type="hidden" name="id" id="id" value="{{ usuario.id }}"/>

                    {% if session.usuario['id'] == usuario.id %}
                        <input type="hidden" name="st_administrador" id="st_administrador"
                               value="{{ usuario.st_administrador }}"/>
                        <input type="hidden" name="st_analista" id="st_analista"
                               value="{{ usuario.st_analista }}"/>
                        <input type="hidden" name="st_ativo" id="st_ativo" value="{{ usuario.st_ativo }}"/>
                    {% endif %}

                    <div class="panel-body">

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                Nome Completo:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="text" name="no_usuario" id="no_usuario" value="{{ usuario.no_usuario }}"
                                       class="form-control" maxlength="50" placeholder="Nome Completo" required/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                E-mail:
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 left">
                                <input type="email" value="{{ usuario.ds_email }}" id="ds_email" name="ds_email"
                                       class="form-control" maxlength="50" placeholder="E-mail" required/>
                            </div>
                        </div><!-- /end class="row" -->

                        <div class="row" style="padding: 5px">
                            <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                Senha:
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 left">
                                <input type="password" id="ds_senha" name="ds_senha" minlength="6" maxlength="8"
                                       class="form-control" placeholder="Senha"
                                       {% if usuario is none %}required{% endif %}/>
                            </div>
                        </div><!-- /end class="row" -->

                        {% if session.usuario['id'] != usuario.id %}

                            <div class="row" style="padding: 5px">
                                <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                    Analista:
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 left">
                                    <select name="st_analista" id="st_analista">
                                        {% if usuario and usuario.st_analista %}
                                            <option selected value="t">Sim</option>
                                            <option value="f">Não</option>
                                        {% elif usuario and usuario.st_analista == False %}
                                            <option selected value="f">Não</option>
                                            <option value="t">Sim</option>
                                        {% else %}
                                            <option value="f">Não</option>
                                            <option value="t">Sim</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div><!-- /end class="row" -->

                            <div class="row" style="padding: 5px">
                                <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                    Administrador:
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 left">
                                    <select name="st_administrador" id="st_administrador">
                                        {% if usuario and usuario.st_administrador %}
                                            <option selected value="t">Sim</option>
                                            <option value="f">Não</option>
                                        {% elif usuario and usuario.st_administrador == False %}
                                            <option selected value="f">Não</option>
                                            <option value="t">Sim</option>
                                        {% else %}
                                            <option value="f">Não</option>
                                            <option value="t">Sim</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div><!-- /end class="row" -->

                            <div class="row" style="padding: 5px">
                                <div class="col-xs-2 col-sm-2 col-md-2 right strong">
                                    Ativo:
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10 left">
                                    <select name="st_ativo" id="st_ativo">
                                        {% if usuario and usuario.st_ativo %}
                                            <option selected value="t">Sim</option>
                                            <option value="f">Não</option>
                                        {% elif usuario and usuario.st_ativo == False %}
                                            <option selected value="f">Não</option>
                                            <option value="t">Sim</option>
                                        {% else %}
                                            <option value="t">Sim</option>
                                            <option value="f">Não</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div><!-- /end class="row" -->

                        {% endif %}

                    </div><!-- /end panel-body -->

                    <div class="panel-footer">
                        <button class="btn btn-success" type="submit">Salvar</button>
                    </div><!-- /end panel-footer -->

                </form><!-- /end form -->

            </div><!-- /end panel panel-primary -->

        </div><!-- /end class="col-xs-12 col-sm-12 col-md-12" -->

    </div><!-- /end class="row" -->

{% endblock %}

{% block javascript_pagina %}
    <script src="{{ url_for('static', filename='js/usuario.js') }}"></script>
{% endblock %}