{% extends 'base.html' %}

{% block title %}
    {{ template_aviso['1_aviso_de_entraga_mensal_radarsar2'] }}
{% endblock %}

{% block toolbar %}

{% endblock %}

{% block content %}

    <div class="fonte" style="padding: 10px !important;">

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-condensed-pdf table-bordered">
                    <tr>
                        <td style="padding: 3px !important; background-color: #eeeeee !important;">
                            <span class="strong"
                                  style="font-size: 12px;">{{ entrega_mensal_radarsat2.no_entrega_descricao|safe }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['1_cabecalho_aviso_mensal_radarsat2'] }} <span
                                class="strong">{{ entrega_mensal_radarsat2.no_referencia }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['1_cabecalho_frames_analisados'] }} <span
                                class="strong">{{ entrega_mensal_radarsat2.no_frame_concluido }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['1_cabecalho_dado_disponibilizado_no_banco_de_dados'] }} <span
                                class="strong">{{ entrega_mensal_radarsat2.dt_disponibilizado }}</span>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-condensed-pdf table-bordered">
                    <tr>
                        <td style="padding: 3px !important; background-color: #eeeeee !important;">
                        <span class="strong"
                              style="font-size: 14px;">Termo de Sigilo</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;" class="texto11">
                            Todas as informações técnicas obtidas através do <strong>Sistema CMR</strong> e/ou
                            relacionadas ao
                            projeto
                            são tidas como <strong>CONFIDENCIAIS</strong> e <strong>SIGILOSAS</strong>. Diante disso,
                            cada servidor
                            deverá se responsabilizar pelo uso e compartilhamento dos dados.
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span class="strong"
                  style="font-size: 18px !important; text-decoration: underline">{{ template_aviso['1_aviso_de_entraga_mensal_radarsar2'] }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['1_objetivo'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span>{{ template_aviso['1_o_presente_trabalho_tem_por_objetivo_monitorar']|safe }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['1_resumo_do_monitoramento']|safe }}</span>
            </div>
        </div>


        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['1_tabela_1'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <tr>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Número do Frame
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Data da Imagem T0
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Data da Imagem T1
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Área do Frame Analisada (ha)
                        </th>
                        <th style="background-color: #eeeeee !important;" colspan="6" class="vertical-center strong">
                            Alteração Detectada (ha)
                        </th>
                    </tr>
                    <tr>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Raso ¹
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Seletivo
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Infra-estrutura
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Estrada
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Seletivo Natural
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Total
                        </td>
                    </tr>
                    {% for data in dataFrame %}
                        {% if data.nu_entrega %}
                            <tr>
                                <td class="vertical-center">{{ data.nu_frame }}</td>
                                <td class="vertical-center">{{ data.dt_t_zero }}</td>
                                <td class="vertical-center">{{ data.dt_t_um }}</td>
                                <td class="vertical-right">{{ data.frame_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.cs_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.ni_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.ne_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.sn_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.nu_area_total }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for data in dataFrame %}
                        {% if data.nu_entrega is none %}
                            <tr>
                                <td colspan="3" class="vertical-center strong">Total</td>
                                <td class="strong vertical-right">{{ data.frame_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.cs_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.ni_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.ne_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.sn_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.nu_area_total }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>

                <div class="left texto10">
                    <span class="strong">{{ template_aviso['1_tabela_1_observacoes'] }}</span>
                </div>
                <div class="left texto10">
                    <span>{{ template_aviso['1_tabela_1_observacoes_descricao']|safe }}</span>
                </div>
                <div class="left texto10">
                    <span>{{ template_aviso['1_tabela_1_os_dados_com_a_classe_de_corte_raso']|safe }}</span>
                </div>

            </div>
        </div>

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['1_sumario_estatistico']|safe }}</span>
            </div>
        </div>

        {#        <div class="row texto11" style="padding: 8px !important;">#}
        {#            <div class="col-xs-12 col-sm-12 col-md-12">#}
        {#                <span>{{ template_aviso['1_sumario_estatistico_descricao']|safe }}</span>#}
        {#            </div>#}
        {#        </div>#}

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['2_municipio']|safe }}</span>
            </div>
        </div>


        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['2_tabela_2'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <tr>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Qtd
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Geocódigo
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Município
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Área de TI por área do Município (%)
                        </th>
                        <th style="background-color: #eeeeee !important;" colspan="6" class="vertical-center strong">
                            Alteração Detectada (ha)
                        </th>
                    </tr>
                    <tr>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Raso
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Seletivo
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Infra-estrutura
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Estrada
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Seletivo Natural
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Total
                        </td>
                    </tr>
                    {% for data in dataMunicipio %}
                        {% if data.nu_entrega %}
                            <tr>
                                <td class="vertical-center">{{ loop.index0 }}</td>
                                <td class="vertical-center">{{ data.nu_geocodigo }}</td>
                                <td class="vertical-left">{{ data.no_municipio }}</td>
                                <td class="vertical-right">{{ data.nu_percentual_ti_no_municipio }}</td>
                                <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.cs_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.ni_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.ne_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.sn_nu_area_ha }}</td>
                                <td class="vertical-right">{{ data.nu_area_total }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for data in dataMunicipio %}
                        {% if data.nu_entrega is none %}
                            <tr>
                                <td colspan="3" class="vertical-center strong">Total</td>
                                <td class="strong vertical-right">{{ data.nu_percentual_ti_no_municipio }}</td>
                                <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.cs_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.ni_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.ne_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.sn_nu_area_ha }}</td>
                                <td class="strong vertical-right">{{ data.nu_area_total }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </table>

            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['2_regime_de_uso']|safe }}</span>
            </div>
        </div>


        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['2_tabela_3'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <tr>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Localização
                        </th>
                        <th style="background-color: #eeeeee !important;" colspan="6" class="vertical-center strong">
                            Alteração Detectada (ha)
                        </th>
                    </tr>
                    <tr>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Raso
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Seletivo
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Infra-estrutura
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Estrada
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Seletivo Natural
                        </td>
                        <td style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Total
                        </td>
                    </tr>

                    <tr>
                        <td class="vertical-left">{{ dataRegimeUso['interior_terra_indigena']['descricao'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['cr_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['cs_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['ni_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['ne_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['sn_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['interior_terra_indigena']['nu_area_total'] }}</td>
                    </tr>

                    <tr>
                        <td class="vertical-left">{{ dataRegimeUso['zona_contorno']['descricao'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['cr_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['cs_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['ni_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['ne_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['sn_nu_area_ha'] }}</td>
                        <td class="vertical-right">{{ dataRegimeUso['zona_contorno']['nu_area_total'] }}</td>
                    </tr>

                    <tr>
                        <td class="vertical-center strong">{{ dataRegimeUso['area_total']['descricao'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['cr_nu_area_ha'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['cs_nu_area_ha'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['ni_nu_area_ha'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['ne_nu_area_ha'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['sn_nu_area_ha'] }}</td>
                        <td class="strong vertical-right">{{ dataRegimeUso['area_total']['nu_area_total'] }}</td>
                    </tr>

                </table>

            </div>
        </div>

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ template_aviso['3_terra_indigena']|safe }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['3_tabela_4'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <thead>
                    <tr>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Código Funai
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Nome da Terra Indígena
                        </th>
                        {#                        <th rowspan="2" class="vertical-center strong">Fase da Terra Indígena</th>#}
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Geocódigo
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Nome do Município
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Área do Município (ha) ¹
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Área da TI (ha) ²
                        </th>
                        <th style="background-color: #eeeeee !important;" rowspan="2" class="vertical-center strong">
                            Percentual da área de TI no Município (%)
                        </th>
                        <th style="background-color: #eeeeee !important;" colspan="6" class="vertical-center strong">
                            Alteração Detectada (ha)
                        </th>
                    </tr>

                    <tr>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Raso
                        </th>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Corte Seletivo
                        </th>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Infra-estrutura
                        </th>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Nova Estrada
                        </th>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Seletivo Natural
                        </th>
                        <th style="width: 10% !important;background-color: #eeeeee !important;"
                            class="vertical-center strong">Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in dataNomeTIMunicipio %}
                        {% if loop.index <= 10 and tp == 'pdf' %}
                            {% if data.co_funai %}

                                {% if data.co_funai == 62001 %}
                                    {% set no_ti = data.no_ti + ' ³' %}
                                {% else %}
                                    {% set no_ti = data.no_ti %}
                                {% endif %}

                                {% if data.nu_total_ti == 1 %}
                                    <tr>
                                        <td class="vertical-center">{{ data.co_funai }}</td>
                                        <td class="vertical-left">{{ no_ti }}</td>
                                        {#                                        <td class="vertical-center">{{ data.ds_fase_ti }}</td>#}
                                        {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                            <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                            <td class="vertical-left">{{ r.no_municipio }}</td>
                                            <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                            <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_area_total }}</td>
                                        {% endfor %}

                                    </tr>
                                {% else %}

                                    {% for r in range(data.nu_total_ti) %}
                                        {% set loopPai = loop.index0 %}
                                        {% if loop.index0 == 0 %}
                                            <tr>
                                                <td class="vertical-center"
                                                    rowspan="{{ data.nu_total_ti }}">{{ data.co_funai }}</td>
                                                <td class="vertical-left"
                                                    rowspan="{{ data.nu_total_ti }}">{{ no_ti }}</td>
                                                {#                                                <td class="vertical-center"#}
                                                {#                                                    rowspan="{{ data.nu_total_ti }}">{{ data.ds_fase_ti }}</td>#}
                                                {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                                    {% if loop.index0 == 0 %}
                                                        <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                        <td class="vertical-left">{{ r.no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% else %}
                                            {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai and loopPai == 1 %}
                                                {% if loop.index0 > 0 %}
                                                    <tr>
                                                        <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                        <td class="vertical-left">{{ r.no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                    {% endfor %}

                                {% endif %}

                            {% endif %}

                            <tr>
                                <td colspan="13" style="padding: 1px !important; background-color: #eeeeee !important;">
                                    &nbsp;
                                </td>
                            </tr>

                        {% elif tp == 'html' %}

                            {% if data.co_funai %}

                                {% if data.co_funai == 62001 %}
                                    {% set no_ti = data.no_ti + ' ³' %}
                                {% else %}
                                    {% set no_ti = data.no_ti %}
                                {% endif %}

                                {% if data.nu_total_ti == 1 %}
                                    <tr>
                                        <td class="vertical-center">{{ data.co_funai }}</td>
                                        <td class="vertical-left">{{ no_ti }}</td>
                                        {#                                        <td class="vertical-center">{{ data.ds_fase_ti }}</td>#}
                                        {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                            <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                            <td class="vertical-left">{{ r.no_municipio }}</td>
                                            <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                            <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                            <td class="vertical-right">{{ r.nu_area_total }}</td>
                                        {% endfor %}

                                    </tr>
                                {% else %}

                                    {% for r in range(data.nu_total_ti) %}
                                        {% set loopPai = loop.index0 %}
                                        {% if loop.index0 == 0 %}
                                            <tr>
                                                <td class="vertical-center"
                                                    rowspan="{{ data.nu_total_ti }}">{{ data.co_funai }}</td>
                                                <td class="vertical-left"
                                                    rowspan="{{ data.nu_total_ti }}">{{ no_ti }}</td>
                                                {#                                                <td class="vertical-center"#}
                                                {#                                                    rowspan="{{ data.nu_total_ti }}">{{ data.ds_fase_ti }}</td>#}
                                                {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                                    {% if loop.index0 == 0 %}
                                                        <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                        <td class="vertical-left">{{ r.no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% else %}
                                            {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai and loopPai == 1 %}
                                                {% if loop.index0 > 0 %}
                                                    <tr>
                                                        <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                        <td class="vertical-left">{{ r.no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                        <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                        <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}

                                        {% endif %}
                                    {% endfor %}

                                {% endif %}

                            {% endif %}

                            <tr>
                                <td colspan="13" style="padding: 1px !important; background-color: #eeeeee !important;">
                                    &nbsp;
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}

                    {% if tp == 'html' %}

                        {% for data in dataTerraIndigenaMunicipio %}
                            {% if data.co_funai is none %}

                                <tr>
                                    <td colspan="4" class="vertical-center strong">Total da Entrega <span
                                            style="color:red; font-weight: bold">*</span></td>
                                    <td class="strong vertical-right">{{ data.nu_area_municipio_ha }}</td>
                                    <td class="strong vertical-right">{{ data.nu_area_ti_no_municipio_ha }}</td>
                                    <td class="strong vertical-right">{{ data.nu_percentual_ti_no_municipio }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.cs_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.ni_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.ne_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.sn_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.nu_area_total }}</td>
                                </tr>

                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>


        {% if dataNomeTIMunicipio|length > 10 and tp == 'pdf' %}

            <div class="row proximaPagina" style="padding-left: 8px !important;padding-right: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                           class="table table-condensed-pdf table-bordered texto11">
                        <tbody>
                        {% for data in dataNomeTIMunicipio %}
                            {% if loop.index > 10 %}
                                {% if data.co_funai %}

                                    {% if data.co_funai == 62001 %}
                                        {% set no_ti = data.no_ti + ' ³' %}
                                    {% else %}
                                        {% set no_ti = data.no_ti %}
                                    {% endif %}

                                    {% if data.nu_total_ti == 1 %}
                                        <tr>
                                            <td class="vertical-center">{{ data.co_funai }}</td>
                                            <td class="vertical-left">{{ no_ti }}</td>
                                            {#                                            <td class="vertical-center">{{ data.ds_fase_ti }}</td>#}
                                            {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                                <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                <td class="vertical-left">{{ r.no_municipio }}</td>
                                                <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                <td style="width: 10% !important;"
                                                    class="vertical-right">{{ r.nu_area_total }}</td>
                                            {% endfor %}

                                        </tr>
                                    {% else %}

                                        {% for r in range(data.nu_total_ti) %}
                                            {% set loopPai = loop.index0 %}
                                            {% if loop.index0 == 0 %}
                                                <tr>
                                                    <td class="vertical-center"
                                                        rowspan="{{ data.nu_total_ti }}">{{ data.co_funai }}</td>
                                                    <td class="vertical-left"
                                                        rowspan="{{ data.nu_total_ti }}">{{ no_ti }}</td>
                                                    {#                                                    <td class="vertical-center"#}
                                                    {#                                                        rowspan="{{ data.nu_total_ti }}">{{ data.ds_fase_ti }}</td>#}
                                                    {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai %}
                                                        {% if loop.index0 == 0 %}
                                                            <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                            <td class="vertical-left">{{ r.no_municipio }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                            <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% else %}
                                                {% for r in dataTerraIndigenaMunicipio if r.co_funai == data.co_funai and loopPai == 1 %}
                                                    {% if loop.index0 > 0 %}
                                                        <tr>
                                                            <td class="vertical-center">{{ r.nu_geocodigo }}</td>
                                                            <td class="vertical-left">{{ r.no_municipio }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_municipio_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_ti_no_municipio_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_percentual_ti_no_municipio }}</td>
                                                            <td class="vertical-right">{{ r.cr_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.cs_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.ni_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.ne_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.sn_nu_area_ha }}</td>
                                                            <td class="vertical-right">{{ r.nu_area_total }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endif %}
                                        {% endfor %}

                                    {% endif %}

                                {% endif %}

                                <tr>
                                    <td colspan="13"
                                        style="padding: 1px !important; background-color: #eeeeee !important;">
                                        &nbsp;
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}

                        {% for data in dataTerraIndigenaMunicipio %}
                            {% if data.co_funai is none %}

                                <tr>
                                    <td colspan="4" class="vertical-center strong">Total da Entrega <span
                                            style="color:red; font-weight: bold">*</span></td>
                                    <td class="strong vertical-right">{{ data.nu_area_municipio_ha }}</td>
                                    <td class="strong vertical-right">{{ data.nu_area_ti_no_municipio_ha }}</td>
                                    <td class="strong vertical-right">{{ data.nu_percentual_ti_no_municipio }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.cs_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.ni_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.ne_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.sn_nu_area_ha }}</td>
                                    <td style="width: 10% !important;"
                                        class="strong vertical-right">{{ data.nu_area_total }}</td>
                                </tr>

                            {% endif %}
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>

        {% endif %}

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <div class="left texto10">
                    <span>{{ template_aviso['3_tabela_4_observacao']|safe }}</span>
                </div>
            </div>
        </div>


    </div><!-- /end div principal -->
{% endblock %}

{% block javascript %}

{% endblock %}