{% extends 'base.html' %}

{% block title %}
    {{ template_aviso['aviso_de_entrega_diario_landsat_8'] }}
{% endblock %}

{% block toolbar %}

{% endblock %}

{% block content %}

    <div class="fonte" style="padding: 10px !important;">

        <div class="row"
             style="padding-left: 8px !important; padding-right: 8px !important; padding-top: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-condensed-pdf table-bordered">
                    <tr>
                        <td style="padding: 3px !important; background-color: #eeeeee !important;">
                        <span class="strong"
                              style="font-size: 14px;">{{ entrega_aviso_diario.no_ciclo_descricao }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['aviso_de_entrega_diario_ref'] }} <span
                                class="strong">{{ entrega_aviso_diario.no_referencia }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['orbita_em_analise'] }} <span
                                class="strong">{{ entrega_aviso_diario.nu_orbita }} ({{ entrega_aviso_diario.st_situacao }})</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;">
                            {{ template_aviso['dado_disponibilizado_no_banco_de_dados'] }} <span
                                class="strong">{{ entrega_aviso_diario.dt_disponibilizado }}</span>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-condensed-pdf table-bordered">
                    <tr>
                        <td style="padding: 3px !important; background-color: #eeeeee !important;">
                        <span class="strong"
                              style="font-size: 14px;">Termo de Sigilo</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 3px;" class="texto11">
                            Todas as informações técnicas obtidas através do <strong>Sistema CMR</strong> e/ou
                            relacionadas ao
                            projeto
                            são tidas como <strong>CONFIDENCIAIS</strong> e <strong>SIGILOSAS</strong>. Diante disso,
                            cada servidor
                            deverá se responsabilizar pelo uso e compartilhamento dos dados.
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span class="strong"
                      style="font-size: 18px !important; text-decoration: underline">{{ template_aviso['aviso_de_entrega_diario_landsat_8'] }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">1. {{ template_aviso['1_resultado_sumario_estatistico_diario_landsat_8'] }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                <span class="strong">&bull; {{ template_aviso['1_terra_indigena_na_aml'] }} {{ entrega_aviso_diario.nu_orbita }}</span>
            </div>
        </div>

        {% if dataTerraIndigena|length > 0 %}
            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <span>{{ template_aviso['1_tabela_1_distribuicao_do_dado_diario_por_terra_indigena'] }}</span>
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                           class="table table-condensed-pdf table-bordered texto11">
                        <tr>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Código Funai
                            </th>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Nome da Terra Indígena
                            </th>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Data T1
                            </th>
                            <th style="background-color: #eeeeee !important;" colspan="5"
                                class="vertical-center strong">Alteração Detectada (ha)
                            </th>
                        </tr>
                        <tr>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">CR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DG
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">FF
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">Total
                            </td>
                        </tr>
                        {% for data in dataTerraIndigena %}
                            {% if loop.index <= 27 and tp == 'pdf' %}
                                <tr>
                                    {% if data.co_funai %}
                                        <td class="vertical-center">{{ data.co_funai }}</td>
                                        <td class="vertical-left">{{ data.no_ti }}</td>
                                        <td class="vertical-center">{{ data.dt_t_um_formatada }}</td>
                                        <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% else %}
                                        <td colspan="3" class="vertical-center strong">Total</td>
                                        <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% endif %}
                                </tr>
                            {% elif tp == 'html' %}
                                <tr>
                                    {% if data.co_funai %}
                                        <td class="vertical-center">{{ data.co_funai }}</td>
                                        <td class="vertical-left">{{ data.no_ti }}</td>
                                        <td class="vertical-center">{{ data.dt_t_um_formatada }}</td>
                                        <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td class="vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% else %}
                                        <td colspan="3" class="vertical-center strong">Total</td>
                                        <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td class="strong vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </table>

                    {% if template_aviso['1_tabela_1_observacao_terra_indigena'] %}

                        <div class="left">
                            <span>{{ template_aviso['1_tabela_1_observacao_terra_indigena']|safe }}</span>
                        </div>

                    {% endif %}

                </div>
            </div>

        {% else %}

            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                    <span>Nenhum registro encontrado.</span>
                </div>
            </div>

        {% endif %}

        {% if dataTerraIndigena|length > 27 and tp == 'pdf' %}

            <div class="row proximaPagina" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                           class="table table-condensed-pdf table-bordered texto11">
                        {% for data in dataTerraIndigena %}
                            {% if loop.index >= 28 %}
                                <tr>
                                    {% if data.co_funai %}
                                        <td class="vertical-center">{{ data.co_funai }}</td>
                                        <td class="vertical-left">{{ data.no_ti }}</td>
                                        <td class="vertical-center">{{ data.dt_t_um_formatada }}</td>
                                        <td style="width: 10% !important;"
                                            class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% else %}
                                        <td colspan="3" class="vertical-center strong">Total</td>
                                        <td style="width: 10% !important;"
                                            class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="strong vertical-right">{{ data.dg_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="strong vertical-right">{{ data.dr_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="strong vertical-right">{{ data.ff_nu_area_ha }}</td>
                                        <td style="width: 10% !important;"
                                            class="strong vertical-right">{{ data.total_nu_area_ha }}</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}

                    </table>

                    {% if template_aviso['1_tabela_1_observacao_terra_indigena'] %}

                        <div class="left">
                            <span>{{ template_aviso['1_tabela_1_observacao_terra_indigena']|safe }}</span>
                        </div>

                    {% endif %}

                </div>
            </div>

        {% endif %}

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                <span class="strong">&bull; {{ template_aviso['1_coordenacao_regional'] }}</span>
            </div>
        </div>

        {% if dataCoordenacaoRegional|length > 0 %}
            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <span>{{ template_aviso['1_tabela_2_dado_diario_da_alteracao_detectada_por_coordenacao_regional_da_funai'] }}</span>
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                           class="table table-condensed-pdf table-bordered texto11">
                        <tr>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Nome da CR
                            </th>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Data T1
                            </th>
                            <th style="background-color: #eeeeee !important;" colspan="5"
                                class="vertical-center strong">Alteração Detectada (ha)
                            </th>
                        </tr>
                        <tr>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">CR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DG
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">FF
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">Total
                            </td>
                        </tr>
                        {% for data in dataCoordenacaoRegional %}
                            <tr>
                                {% if data.ds_cr %}
                                    <td class="vertical-left">{{ data.ds_cr }}</td>
                                    <td class="vertical-center">{{ data.dt_t_um_formatada }}</td>
                                    <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.dg_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.dr_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.ff_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.total_nu_area_ha }}</td>
                                {% else %}
                                    <td colspan="2" class="vertical-center strong">Total</td>
                                    <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.dg_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.dr_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.ff_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.total_nu_area_ha }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>

                    {% if template_aviso['1_tabela_2_observacao_coordenacao_regional'] %}

                        <div class="left">
                            <span>{{ template_aviso['1_tabela_2_observacao_coordenacao_regional']|safe }}</span>
                        </div>

                    {% endif %}

                </div>
            </div>

        {% else %}

            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                    <span>Nenhum registro encontrado.</span>
                </div>
            </div>


        {% endif %}

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                <span class="strong">&bull; {{ template_aviso['1_estado'] }}</span>
            </div>
        </div>

        {% if dataEstado|length > 0 %}
            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 center">
                    <span>{{ template_aviso['1_tabela_3_dado_diario_da_alteracao_detectada_por_estado'] }}</span>
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                           class="table table-condensed-pdf table-bordered texto11">
                        <tr>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Estado
                            </th>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">UF
                            </th>
                            <th style="background-color: #eeeeee !important;" rowspan="2"
                                class="vertical-center strong">Data T1
                            </th>
                            <th style="background-color: #eeeeee !important;" colspan="5"
                                class="vertical-center strong">Alteração Detectada (ha)
                            </th>
                        </tr>
                        <tr>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">CR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DG
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">DR
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">FF
                            </td>
                            <td style="background-color: #eeeeee !important; width: 10% !important;"
                                class="vertical-center strong">Total
                            </td>
                        </tr>
                        {% for data in dataEstado %}
                            <tr>
                                {% if data.no_uf %}

                                    <td class="vertical-left">{{ data.no_uf }}</td>
                                    <td class="vertical-center">{{ data.sg_uf }}</td>
                                    <td class="vertical-center">{{ data.dt_t_um_formatada }}</td>
                                    <td class="vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.dg_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.dr_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.ff_nu_area_ha }}</td>
                                    <td class="vertical-right">{{ data.total_nu_area_ha }}</td>
                                {% else %}
                                    <td colspan="3" class="vertical-center strong">Total</td>
                                    <td class="strong vertical-right">{{ data.cr_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.dg_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.dr_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.ff_nu_area_ha }}</td>
                                    <td class="strong vertical-right">{{ data.total_nu_area_ha }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}

                    </table>


                    {% if template_aviso['1_tabela_3_observacao_estado'] %}

                        <div class="left texto10">
                            <span>{{ template_aviso['1_tabela_3_observacao_estado']|safe }}</span>
                        </div>

                    {% endif %}

                </div>
            </div>


        {% else %}

            <div class="row" style="padding: 8px !important;">
                <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 100px !important;">
                    <span>Nenhum registro encontrado.</span>
                </div>
            </div>


        {% endif %}

        <!-- inicio 2 pagina -->

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
            <span class="strong"
                  style="font-size: 18px !important; text-decoration: underline">{{ template_aviso['informacoes_adicionais'] }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">2. {{ template_aviso['2_objetivo'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span>{{ template_aviso['2_objetivo_descricao'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['2_objetivo_tabela_4'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <thead>
                    <tr>
                        <th style="background-color: #eeeeee !important;">
                            Classe
                        </th>
                        <th class="center" style="background-color: #eeeeee !important;">
                            Sigla
                        </th>
                        <th style="background-color: #eeeeee !important;">
                            Definição
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_corte_raso'] }}</td>
                        <td class="vertical-center">{{ template_aviso['2_objetivo_classe_corte_raso_sigla'] }}</td>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_corte_raso_descricao']|safe }}</td>
                    </tr>
                    <tr>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_degradacao'] }}</td>
                        <td class="vertical-center">{{ template_aviso['2_objetivo_classe_degradacao_sigla'] }}</td>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_degradacao_descricao']|safe }}</td>
                    </tr>
                    <tr>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao'] }}</td>
                        <td class="vertical-center">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao_sigla'] }}</td>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_desmatamento_em_regeneracao_descricao']|safe }}</td>
                    </tr>
                    <tr>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_fogo_em_floresta'] }}</td>
                        <td class="vertical-center">{{ template_aviso['2_objetivo_classe_fogo_em_floresta_sigla'] }}</td>
                        <td class="vertical-left">{{ template_aviso['2_objetivo_classe_fogo_em_floresta_descricao']|safe }}</td>
                    </tr>                    
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">3. {{ template_aviso['3_base_cartografica'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span>{{ template_aviso['3_base_cartografica_descricao'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['3_base_cartografica_tabela_5'] }}</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <thead>
                    <tr>
                        <th style="background-color: #eeeeee !important;">
                            Dado cartográfico
                        </th>
                        <th style="background-color: #eeeeee !important;">
                            Descrição
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for base in base_cartografica %}
                        <tr>
                            <td class="vertical-left">
                                {{ base.no_base }}
                            </td>
                            <td class="vertical-left">
                                Disponibilizado por: {{ base.no_orgao }} <br/>
                                {{ base.ds_comentario|safe }} <br/>
                                {{ base.dt_atualizacao }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% if dataImagem|length > 0 %}

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ nu_titulo_base_imagem }}. Base de Imagens</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>Tabela {{ nu_tabela_base_imagem }}. Base de imagem e respectivo percentual de nuvem.</span>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100% !important;"
                       class="table table-condensed-pdf table-bordered texto11">
                    <thead>
                    <tr>
                        <th class="vertical-center" style="background-color: #eeeeee !important;">
                            Órbita-Ponto
                        </th>
                        <th class="vertical-center" style="background-color: #eeeeee !important;">
                            Nome da Imagem
                        </th>
                        <th class="vertical-center" style="background-color: #eeeeee !important;">
                            Data da Imagem
                        </th>
                        <th class="vertical-center" style="background-color: #eeeeee !important;">
                            Percentual de Nuvem
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for images in dataImagem %}
                        <tr>
                            <td class="vertical-center">
                                {{ images.ds_orbita_ponto }}
                            </td>
                            <td class="vertical-center">
                                {{ images.no_imagem }}
                            </td>
                            <td class="vertical-center">
                                {{ images.dt_imagem }}
                            </td>
                            <td class="vertical-right">
                                {{ images.nu_nuvem }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

        <div class="row proximaPagina" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ nu_titulo_grade_landsat }}. {{ template_aviso['4_grade_landsat_8'] }}</span>
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <img src="{{ url_for('static', filename='img/orb_pnt.png') }}" style="width: 750px; height: 500px;"
                     border="0">
            </div>
        </div>

        <div class="row" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="strong">{{ nu_titulo_disponibilizacao_dados }}. {{ template_aviso['5_disponibilizacao_dos_dados'] }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span>{{ template_aviso['5_disponibilizacao_dos_dados_descricao']|safe }}</span>
            </div>
        </div>

        <div class="row texto11" style="padding: 8px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 center">
                <span>{{ template_aviso['5_disponibilizacao_dos_dados_tabela_6'] }}</span><br/>
                <img src="{{ url_for('static', filename='img/estrutura_tabela_monitoramento.png') }}" border="0">
                <div class="left texto11">
                    <span>{{ template_aviso['5_disponibilizacao_dos_dados_tabela_6_descricao'] }}</span>
                </div>
            </div>
        </div>

    </div><!-- /end div principal -->
{% endblock %}

{% block javascript %}

{% endblock %}
